.advert{
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.advert:hover{
    background-color: rgba(255,255,255,0.12);
    transition: background-color 0.3s;
}

.advert .btn span{
    font-weight: 500;
}

.advert:first-child{
    margin-top: 50px;
}

.annonce-image img{
    max-height: 150px;
}

.annonce-description{
    margin-bottom: 20px;
}
.annonce-title{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px ;
    margin-bottom: 30px;
}

#annonces{
    margin-bottom: 40px;
}