.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: 100;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 0em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}


/* Yoko */
.input__field--yoko {
    z-index: 10;
    width: 100%;
    background: transparent;
    color: rgba(0,0,0,0.6);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input__label--yoko {
    position: relative;
    width: 100%;
    color: #ffffff;
    text-align: left;
}

.input__label--yoko::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 4em;
    background: #ffffff;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--yoko::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background: #ffffff;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label-content--yoko {
    padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
    pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}



/* Shoko */
.input--shoko {
    overflow: hidden;
    padding-bottom: 2.5em;
}

.input__field--shoko {
    padding: 0;
    margin-top: 1.2em;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 1.55em;
}

.input__label--shoko {
    position: absolute;
    top: 2em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    color: rgba(255,255,255,1);
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.1s, color 0.3s;
    transition: transform 0.2s 0.1s, color 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    font-size: 15px;
    font-weight: 300;
}

.graphic--shoko {
    stroke: rgba(255,255,255,0.4);
    pointer-events: none;
    stroke-width: 2px;
    top: 1.25em;
    bottom: 0px;
    height: 3.275em;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
    color: rgba(255,255,255,0.8);
    -webkit-transform: translate3d(0, 2.3em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, 2.3em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
    stroke: rgba(255,255,255,0.8);
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}
